.highlighted{
  background-color: royalblue;
}

h1{
  text-align: center;
  margin-bottom: 20px;
}

section{
  margin-bottom: 20px;
}

.passing{
  color: darkgreen;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.failing{
  color: red;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box{
  border: 2px solid black;
  margin-top: 20px;
}

p, h1, h2, button{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

img{
  display: block;
  margin: 0;
}

.imgs{
  padding-left: 850px;
}

.container button{
  display: block;
  margin: 0 auto;
}

.container img{
  display: block;
  margin: 0 auto;
}

.container div{
  display: block;
  margin: 0 auto;
}
